:root {
  --grey: #425064;
  --white: #ffffff;
  --teal: rgb(91, 187, 187);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  min-height: 30px;
  max-height: 10%;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo {
  width: 20%;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: var(--teal);
  border: 2px solid white;
  color: var(--grey);
}

.navbar {
  display: flex;
}

.nav-item {
  margin: 0 10px;
  display: inline-block;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  font-size: 16px;
  text-decoration: none;
  color: var(--teal);
  border-bottom: 3px solid var(--teal);
  font-weight: 400;
}

.profile-image {
  width: 40px;
  height: 40px;
  border: 2px solid var(--teal);
  border-radius: 25px;
}

.hero-banner {
  width: 100%;
  height: 400px;
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  
}

.hero-subtitle {
  float: right;
  height: 100%;
  text-align: center;
  color: var(--grey);
  background-color: var(--teal);
  margin-top: 300px;
  }

.page-wrapper {
  width: 85%;
  margin: auto;
}

.page-section {
  display: flex;
  margin-top: 30px;

}


.page-section-header {
  color: var(--grey);
  border-right: 5px solid var(--grey);
  padding: 20px 20px;
  display: inline-block;
}

#about-me {
  margin-top: 20px;
  color: var(--grey);
  margin-left: 20px;
}

#grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-rows: 400px 200px 200px;
  grid-template-areas: "project-1 project-1"
  "project-2 project-3"
  "project-4 project-5";
}

#project-1 {
  grid-area: project-1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project-2 {
  grid-area: project-2;
  background-image: url("../images/02-portfolio-2.jpg")
}

#project-3 {
  grid-area: project-3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project-4 {
  grid-area: project-4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project-5 {
  grid-area: project-5;
  background-image: url("../images/02-run-buddy.jpg");
}

.grid-item {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px ;
}

.heading {
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
  color: var(--white);
  font-size: 2rem;
  border-bottom: 5px solid var(--teal);
  height: 100%;
}

#grid a {
  text-decoration: none;
}

